:root {
  --dark: #2b1719;
  --green_dark: #02483e;
  --green_ligth: #057c46;
  --limon: #9bb61b;
  --amarillo: #f8be00;
  --negro: #000000;
  --blanco: #fff;
  --sombra-oscura: rgba(0, 0, 0, 0.3);
  --sombra-clara: rgba(255, 255, 255, 0.1);
}
